{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Closer {% endblock title %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
</head>

<body>
    {% for message in messages %}
    <div class="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <span class="message">{{ message }}</span>
    </div>
    {% endfor %}

    <div class="page-container">
        <div class="image-container">
            <img src="{% static '/images/main_logo_no_bg.png' %}" alt="Closer logo">
        </div>
        <div class="form-container">
            <form action="{% url 'login' %}" method="post">
                {% csrf_token %}
                <div class="form-element">
                    {{ login_form.email }}
                </div>
                
                <div class="form-element">
                    {{ login_form.password }}
                </div>

                <div class="submit-container">
                    <button type="submit" class="submit">Login</button>
                </div>
            </form>
        </div>
        <div class="line"></div>
        <div class="button-container">
            <button onclick="window.location.href={% url 'signup' %}">Signup</button>
        </div>
    </div>
</body>

{% comment %} TODO: Change html and css so that text input does not overflow the form. Make everything scalable and make all items scale the same {% endcomment %}