{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Closer {% endblock title %}</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    {% block styles %} {% endblock styles %}
    <style>
        {% block style %} {% endblock style %}
    </style>
</head>

<body>
    <nav class="navbar">
        <div class="logo-image-container">
            {% comment %} TODO: Change to feed, index for now. Also add settings {% endcomment %}
            <a href="{% url 'index' %}" title="Home">
                <img class="logo-image" src="{% static '/images/main_logo_no_bg.png' %}" alt="Closer logo">
            </a>
        </div>
        <div class="link-list-container">
            <ol class="link-list">
                <li class="list-elment">
                    <a href="" title="Settings">
                        <span class="material-symbols-outlined">
                        settings
                        </span>
                    </a>
                </li>
                <li class="list-elment">
                    {% comment %} TODO: Try to add search option without redirecting to search.page, maybe something like this "name=first_name-second_name"  {% endcomment %}
                    <a href="{% url 'search_page' %}" title="Search">
                        <span class="material-symbols-outlined">
                            search
                        </span>
                    </a>
                </li>
                <li class="list-elment">
                    <a href="{% url 'logout' %}" title="Log out">
                        <span class="material-symbols-outlined">
                            logout
                        </span>
                    </a>
                </li>
                <li class="list-elment">
                    <a href="{% url 'posts' %}" title="Create post">
                        <span class="material-symbols-outlined">
                            add
                        </span>
                    </a>
                </li>
                <li class="list-elment">
                    <a href="{% url 'profile' user.user_id %}" title="My profile">
                        <span class="material-symbols-outlined">
                            account_circle
                        </span>
                    </a>
                </li>
                <li class="list-elment">
                    <a href="{% url 'invitations_page' %}" title="Invitations">
                        <span class="material-symbols-outlined">
                            group_add
                        </span>
                    </a>
                </li>
            </ol>
        </div>
    </nav>
    {% block content %}{% endblock content %}
</body>
